<div class="register-main-container">
  <div class="register-main-container-left">
    <div class="register-form">
      <form ngForm [formGroup]="registerForm">
        <div class="title">
          <h1>Register</h1>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>
            <mat-icon>person</mat-icon>
            Name
          </mat-label>
          <input matInput placeholder="Your name" formControlName="name">
          <mat-error *ngFor="let error of verifyError('name')">{{ error }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>
            <mat-icon>email</mat-icon>
            E-mail
          </mat-label>
          <input matInput placeholder="Your email" formControlName="email">
          <mat-error *ngFor="let error of verifyError('email')">{{ error }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>
            <mat-icon>lock</mat-icon>
            Password
          </mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngFor="let error of verifyError('password')">{{ error }}</mat-error>
        </mat-form-field>

<!--        <input class="image" type="file" (change)="onFileSelected($event)" formControlName="image">-->

        <div class="button-container">
          @if (inProgress) {
            <button mat-flat-button [disabled]="inProgress">
              <mat-progress-spinner
                color="primary"
                mode="indeterminate">
              </mat-progress-spinner>
            </button>
          } @else {
            <button mat-flat-button [disabled]="inProgress" (click)="register()">Register</button>
          }
        </div>

        <div class="links">
          <div class="create-account">
            <span>Have an count? <a routerLink="/auth/login">Login</a></span>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="register-main-container-right">
    <div>
      <img src="assets/pokemon-logo.svg" alt="pokemon-logo">
    </div>
  </div>
</div>
