<div class="auth-main-container">
  <div class="auth-main-container-left">
    <div class="login-form">
      <form ngForm [formGroup]="loginForm">
        <div class="title">
          <h1>Login</h1>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>
            <mat-icon>email</mat-icon>
            E-mail
          </mat-label>
          <input matInput placeholder="Seu email" formControlName="email">
          <mat-error *ngFor="let error of verifyError('email')">{{ error }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>
            <mat-icon>lock</mat-icon>
            Senha
          </mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngFor="let error of verifyError('password')">{{ error }}</mat-error>
        </mat-form-field>

        <div class="button-container">
          <button mat-flat-button color="warn" (click)="login()">Entrar</button>
        </div>

        <div class="links">
          <div class="forgot-password">
            <a routerLink="/forgot-password">Esqueci minha senha</a>
          </div>
          <div class="create-account">
            <span>Não possui conta? <a routerLink="/register">Criar conta</a></span>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="auth-main-container-right">
    <div>
      <img src="assets/pokemon-logo.svg" alt="pokemon-logo">
    </div>
  </div>
</div>
