<div class="recover-password-main-container">
  <div class="recover-password-main-container-left">
    <div class="title">
      <h1>Recover password</h1>
    </div>
    <div *ngIf="step == 1" class="step1">
      <form [formGroup]="emailForm">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter your email" type="email" formControlName="email">
          <mat-error *ngFor="let error of verifyError('email', emailForm)">{{ error }}</mat-error>
        </mat-form-field>
        @if (inProgress) {
          <button class="button-recover" mat-flat-button [disabled]="inProgress">
            <mat-progress-spinner
              color="primary"
              mode="indeterminate">
            </mat-progress-spinner>
          </button>
        } @else {
          <button class="button-recover" mat-raised-button color="warn" (click)="sendEmail()" [disabled]="inProgress">Send email</button>
        }
      </form>
    </div>
    <div *ngIf="step == 2" class="step2">
      <form [formGroup]="recoverPasswordForm">
        <mat-form-field appearance="outline" class="password-field">
          <mat-label>
            <mat-icon>lock</mat-icon>
            New password
          </mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngFor="let error of verifyError('password', recoverPasswordForm)">{{ error }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="password-field">
          <mat-label>
            <mat-icon>lock</mat-icon>
            Confirm password
          </mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngFor="let error of verifyError('confirmPassword', recoverPasswordForm)">{{ error }}</mat-error>
        </mat-form-field>
        @if (inProgress) {
          <button class="button-recover" mat-flat-button [disabled]="inProgress">
            <mat-progress-spinner
              color="primary"
              mode="indeterminate">
            </mat-progress-spinner>
          </button>
        } @else {
          <button class="button-recover" mat-raised-button color="warn" (click)="recoverPassword()" [disabled]="inProgress || !checkIsValid()">Confirm</button>
        }
      </form>
    </div>
  </div>
  <div class="recover-password-main-container-right">
    <div>
      <img src="assets/pokemon-logo.svg" alt="pokemon-logo">
    </div>
  </div>
</div>
